* {
  box-sizing: border-box;
}

body {
  padding: 15px;
}

h1 {
  margin-bottom: 1em;
}

.page {
  overflow-x: scroll;
  overflow-y: hidden;
}

#wrapper {
  width: 6000px;
}

.row {
  height: 30px;
  position: relative;
}

#heatmap-canvas {
  position: absolute;
  top: 0;
}

.items {
  position: relative;
  top: 5px;
}

.item {
  background-color: antiquewhite;
  line-height: 1;
  padding: 5px 8px;
  position: absolute;
  white-space: nowrap;
  width: 150px;
}

.item:nth-of-type(4n) {
  left: 150px;
  /* color: rgb(222, 184, 135);
    color: ; */
}

.item:nth-of-type(4n + 1) {
  left: 450px;
}

.item:nth-of-type(4n + 2) {
  left: 3000px;
}

.item:nth-of-type(4n + 3) {
  left: 900px;
}
